body {
    background-image: url('https://res.cloudinary.com/zephragroup/image/upload/v1725707313/LWEL-Background_bzhohz.png');
    font-family: Arial;
}

.content {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.boxbox {
    margin: auto!important;
    border: 3px solid #FFF;
    border-radius: 20px;
    padding: 10px 40px;
    display: inline-block;
    background-color: #011936;
}

.buttonbox {
    margin: auto;
    width: 250px;
}

.pure-button {
    border-radius: 5px;
    min-width: 250px;
}
